/* ==========================================================================
Modal
========================================================================== */
.modal-body {
  padding: 0px;
}

.modal-content {
  @extend .mt-sm-10;
  padding: 0px 20px;
  border-radius: 0;
}

.modal-header {
  border: 0;
}
